.jumbotron {
    margin: 0;
    padding: 15px;
    color:  #2290c4;
}

.navbar {
    border: 0px;
    border-top: 6px solid;
    border-image: linear-gradient(to right, #5bbfa2 20%, rgb(0, 210, 255), #6fa8dc, rgb(58, 123, 213));
    border-image-slice: 1;
    color: white;
    margin: auto;
    text-decoration: none;
} 

h1 {
    font-family: 'Vampiro One', cursive;
    
}



.iconColor {
color: #2290c4;
}

p, li {
    color:#5b5b5be6;
}

h5, h6 {
    color: #5bbfa2;
}

.card {
    border: 0px;
}

.card-title {
    color:#f89545;
}

.huerotate {
    filter: hue-rotate(-24deg);
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}


.imgPointer:hover {
    opacity: 0.7;
    cursor: pointer;
}

.projectButton {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        }

  